<!-- <footer class="footer">
    <div class="container">
      <span class="text-muted pull-left">&copy; 2019 Timetalk.io. All rights reserved.</span>
      <span class="text-muted pull-right"><a href="/">Home</a></span>
    </div>
  </footer> -->